body {
    margin: 0;
    background: url(/Resources/forgotPassword.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    color: white;
    text-align: center;
    margin-left: 5%;
    overflow: hidden;
}

p {
    display: table-row;
    margin-left: 50px;
}

label {
    display: table-cell;
    margin: 0 10px;
    color: white;
    padding-left: 50px;
    text-align:left;
}

input {
    display: table-cell;
    margin: 0 10px;
}

input[type = submit] {
    text-align: center;
}

input[name = responce] {
    background: none;
    border: none;
    color: Red;
}

input[name = userId],
input[name = dataBaseAnswer],
input[name = question] {
    display: none;
}

.message {
    color: red;
}